<html>
<head>
  <title>Ferienwohnung</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div>
  <h1><a href="/">Ferienwohnung am Gardasee</a></h1>
</div>

<div>
    {% for gast in gaeste %}
      <div>
        <h2><a href="">{{ gast.full_name }}</a></h2>
        (created: {{ gast.created }} created by: {{ gast.created_by }})
      </div>
    {% endfor %}
</div>

</body>
</html>